form {
  width: 420px;
}

#div1 {
  overflow:auto;
  height:475px;
  background-color: #cbf5ff;
  word-wrap: break-word;
  border: 4px solid black;
  font-size: 1.25em;
}

div.nopad {
  padding: 0px;
  margin: 0em 0em .5em 0em;
  line-height: 1.25em;
}

#div1 .response {
  font-weight: bold;
  color: #262626;
}

#div1 span.prompt {
  font-weight: normal;
  color: #595540;
}

#div1 .input {
  font-weight: bold;
  color: #595540;
}

body{
  background-color: #FFFDDF;
}

.text{
  display: inline-grid;
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-size: 20px;
  width: 240px;
  text-align: left;
  margin: 10px 10px 10px 10px;
}

input {
  margin: 8px 10px 8px 10px;
  height: 25px;
  width: 240px;
}

.exec{
  margin: 10px;
  border-radius: 25px;
  color: #FFFFFF;
  background-color: #109DFA;
  width: 100px;
  height: 40px;
}

.exec:hover{
  color: #FFFFFF;
  background-color: #0055CC;
}
